/* body {
	background-color: #ffc650;
	text-align: center;
} */
form {
	background-color: #ffc650;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
/* radio */
fieldset {
	width: 100%;
	text-align: center;
}
input[type="radio"] {
	display: none;
}
input[type="radio"] + label {
	color: white;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	user-select: none;
	padding-left: 20px;
	padding-right: 20px;
}
input[type="radio"] + label::before {
	transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: white;
	border: 0px solid white;
	font-size: 0;
	position: absolute;
	bottom: 275%;
	left: 50%;
	transform: translate(-50%, 50%);
}
input[type="radio"] + label::after {
	transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
	content: "";
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	bottom: 275%;
	left: 50%;
	transform: translate(-50%, 50%);
}
input[type="radio"]:checked + label::before {
	background-color: transparent;
	width: 40px;
	height: 40px;
	border-width: 2px;
}
input[type="radio"]:checked + label::after {
	width: 30px;
	height: 30px;
}
